## Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
engine = create_engine('sqlite:///data/shop_database.db')
conn = engine.connect()

In [7]:
df_personal_data = pd.read_sql(sql=text('SELECT * FROM personal_data'),con=conn)

In [9]:
df_personal_data.head()

   id  gender  age education  city  country
0   0       0   36   среднее  1201       32
1   4       0   35   среднее  1134       32
2   6       1   52   среднее  1188       32
3   7       0   37   среднее  1198       32
4   9       0   48   среднее  1134       32

In [10]:
df_personal_data.shape

(89241, 6)